table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.increase {
    color: green;
}

.decrease {
    color: red;
}
.button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
    width: 100%;
    justify-content: center;
}
.button {
    padding: 10px 20px;
    text-align: center;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.button:hover {
    background-color: blue;
}